{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <select class="form-group" name="symbol">
            {% for row in all_stocks %}
                <option>{{ row['symbol'] }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}